@charset "utf8";

/*aqui posso por um comentario*/

/*
vamos escrever um bloco de comentario 
*/

/* vamos criar um rest de pagina, onde o css deve limpar as configuracoes*/
* {
    magin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    blackgroud: color #bc3bbc;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding:auto;
}